langchain
langchain-community
langchain-core
langchain-groq

groq

python-dotenv

pypdf
pdfplumber

sentence-transformers

chromadb

faiss-cpu

tiktoken

fastapi
uvicorn

pydantic

python-multipart

numpy
pandas